blockquote, blockquote p {
    font-style: italic;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 1px;
}

blockquote {
    border-left: 2px solid var(--color-primary);
    padding: 10px 15px;
    background: #fbfbfb;
    margin: 0 0 15px;
}

blockquote cite, blockquote small {
	line-height: 1.3;
	padding-top: 15px;
	display: block;
}

blockquote em, blockquote i, blockquote cite {
    font-style: normal;
}
/* Gallery Css Here*/
.gallery-icon a {
    display: block;
}

.gallery-item { 
    background-color: #ececec;
    padding: 0;
    margin: 0 2.7% 0 0;
    text-align: center;
}

.gallery figure.gallery-item:last-child {
    margin-bottom: 0;
}

.gallery-columns-1 .gallery-item {
    float: none;    
	width: 100%;	
}

.gallery-columns-2 .gallery-item {
    width: 45%;
	float: none;	
}

.gallery-columns-3 .gallery-item {
    width: 31.3%;
    float: none;
}

.gallery-columns-4 .gallery-item {
    width: 20%;
	float: none;
}

.gallery-columns-5 .gallery-item {
    width: 18%;
	float: none;
}

.gallery-columns-6 .gallery-item {
    width: 13.6%;
}

.gallery-columns-7 .gallery-item {
    width: 12.25%;
}

.gallery-columns-8 .gallery-item {
    width: 10.5%;
}

.gallery-columns-9 .gallery-item {
    width: 9.11%;
}

.gallery-columns-2 .gallery-item:nth-child(1n+1),
.gallery-columns-2 .gallery-item:nth-child(2n+2),
.gallery-columns-3 .gallery-item:nth-child(3n+3),
.gallery-columns-4 .gallery-item:nth-child(4n+4),
.gallery-columns-5 .gallery-item:nth-child(5n+5),
.gallery-columns-6 .gallery-item:nth-child(6n+6),
.gallery-columns-7 .gallery-item:nth-child(7n+7),
.gallery-columns-8 .gallery-item:nth-child(8n+8),
.gallery-columns-9 .gallery-item:nth-child(9n+9) {
	margin: 0 0 2.7% 0;
}

.gallery dl a {
    display: block;
}

.gallery dl a img {
    height: auto;
    margin: 0 auto;
}

.gallery br+br {
    display: none;
}
.wp-caption-text{}
.bypostauthor{}